# === Python cache ===
__pycache__/
*.pyc

# === Virtual envs ===
venv/
env/

# === Databases ===
*.db
*.sqlite
*.sqlite3

# === Old project versions ===
unit_test/README.md
unit_test/rev.py
unit_test/test_rev.py

# === Logs ===
*.log

# === Environment/config ===
.env
config.json
